# RELEASES.CSV CLEANING

In [20]:
import pandas as pd

In [21]:
data_directory = 'data_csv/'

releases_df = pd.read_csv(data_directory + 'releases.csv')
releases_df

              id    country        date        type rating
0        1000001    Andorra  2023-07-21  Theatrical    NaN
1        1000001  Argentina  2023-07-20  Theatrical    ATP
2        1000001  Australia  2023-07-19  Theatrical     PG
3        1000001  Australia  2023-10-01     Digital     PG
4        1000001    Austria  2023-07-20  Theatrical    NaN
...          ...        ...         ...         ...    ...
1332777  1940967        USA  1909-01-01  Theatrical    NaN
1332778  1940968     Sweden  1908-11-11  Theatrical    NaN
1332779  1940969     France  1902-01-01  Theatrical    NaN
1332780  1940970     France  1902-01-01  Theatrical    NaN
1332781  1940971     France  1902-01-01  Theatrical    NaN

[1332782 rows x 5 columns]

In [22]:
releases_df.shape

(1332782, 5)

In [23]:
releases_df.dtypes

id          int64
country    object
date       object
type       object
rating     object
dtype: object

## CHANGING TYPES OF OBJECT COLUMNS

In [24]:
releases_df['country'] = releases_df['country'].astype('string')
releases_df['date'] = pd.to_datetime(releases_df['date'], errors='coerce', format='%Y-%m-%d')
releases_df['type'] = releases_df['type'].astype('string')
releases_df['rating'] = releases_df['rating'].astype('string')
releases_df.dtypes

id                  int64
country    string[python]
date       datetime64[ns]
type       string[python]
rating     string[python]
dtype: object

## NOW WE TRY TO UNDERSTAND COLUMNS VALUES

In [25]:
print(list(releases_df.columns.values))

['id', 'country', 'date', 'type', 'rating']

In [26]:
releases_df.rename(columns={'id': 'movie_id'}, inplace=True)
print(list(releases_df.colu'movie_id', 'country', 'date', 'type', 'rating'mns.values))

['movie_id', 'country', 'date', 'type', 'rating']

In [27]:
list_of_types = list(releases_df['type'].unique())
print(list_of_types)

['Theatrical', 'Digital', 'Physical', 'Premiere', 'Theatrical limited', 'TV']

In [28]:
list_of_types = list(releases_df['type'].unique())
print(list_of_types)

['Theatrical', 'Digital', 'Physical', 'Premiere', 'Theatrical limited', 'TV']

In [29]:
list_of_ratings = list(releases_df['rating'].unique())
print(list_of_ratings)

[<NA>, 'ATP', 'PG', '12', 'U', '7', 'K-7', 'TP', '6', 'IIA', 'UA', '12A', 'T', 'G', 'N-13', 'B', '9', 'M/12', 'PG-13', '15', 'PG13', '13', 'A', '16', 'K-16', 'IIB', 'VM14', 'PG12', 'N-16', 'B-15', 'M/14', 'M18', '14', 'R', 'C18', 'K15', '18', '11', '18A', 'K-18', '18PL', 'C', 'R-18', 'M/18', 'M', 'L', 'S', '0', 'AL', '14A', 'K-12', 'K12', '15A', 'R-16', '10', 'AG', 'D', 'A-18', 'R16', 'NC16', 'P', '18TC', 'III', 'VM18', 'M/16', 'R21', 'N-7', 'M/6', 'AP', '8', 'R13', 'P13', 'R-13', 'C16', 'R18', '20', 'NR', 'K-13', 'X', 'K18', 'N-18', '19', 'K', 'SU', '10A', 'APTA', 'R-15', 'APT', 'KT/EA', 'K-15', 'I', 'ALL', 'C13', '18PA', 'RP13', 'Y7', 'NC-16', 'KN', 'PG-15', 'K-11', 'K-8', 'PG-12', '18SG', 'EA', 'V', 'R-12', 'K-17', 'B15', 'AA', '12PG', 'K-10', 'AP-12', 'TE', 'R12', '7-9PG', '13A', 'M/3', '21', '28', '2', '27', 'N-15', 'KT', 'SR', 'K-6-4', 'NC-15', 'M/4', 'K-14', 'NC-17', 'MS12', 'GP', 'ZA', '15PG', 'R15', 'E', 'RP16', 'M/16Q', '17', 'II', 'RC', 'K-3', '6A', 'PERE', 'MP', '7A', 'N16', 'K7', 'TV-MA', 'S-3', 'M16', 'UR', 'M12', 'PT', 'IM-18', 'M13', 'UFD', 'IB', 'OM', 'F', 'M6', 'IT', 'TV-14', 'TV-PG', '16E', 'KNT', 'ENA', '16LS', '18X', '12E', 'BIFFF', 'ITA', 'CAT3', 'AM18', 'BTL', 'PM13', 'MX-A', '15-A', 'USA', 'M21', 'M4', 'FSK12', 'LH', 'PG0', 'PG-14', 'MA', 'M-18', 'JP', 'IMDB', 'U/A', 'TV-Y7', 'NYFF', 'FSK16', 'PG15', 'TV-G', 'PM16', '13-A', 'B-12', 'USA-R', 'MPAA', 'P15', 'AP16', 'MA15+', 'R18+', 'R15+', 'SAM18', 'TODOS', 'M14', 'TT', '18SX', 'HD', 'SAM13', 'TR', 'TW', 'DVD', 'PGL', 'NR-12', 'VN', 'MG6', 'YES', 'FAJR', 'UN', 'K+', 'KK', 'PC', 'EM', 'VM-14', 'TV-13', 'IM16', 'PG-17', 'PD-14', '5', 'NC18', 'PG-16', 'PM18', 'QA', '13V', 'P-13', 'AKA', 'PG10', 'APTO', 'N/C', 'PM14', 'TVMA', '13PL', 'FIC', 'MA-13', '4', 'PG16', '16LV', 'NN', 'N', 'II-B', '16SL', '05', 'PG18', 'K11', '13L', 'FSK-0', 'R-15+', 'MA+', 'FSK6', 'SAM15', 'IM14', 'R13+', '352', '16LPV', 'KG', '1', 'TV', '16L', 'IM18', 'SAM16', 'NC15', 'FSK', '13VL', '3', 'TV14', 'FSK0', 'OK', 'BE/12', 'INCAA', 'GA', '123', 'BR', 'FPBA']

are there wrongly written countries?

In [30]:
countries = list(releases_df['country'].unique())
countries.sort()
print(countries)

['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivarian Republic of Venezuela', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Indian Ocean Territory', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Germany', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Federated States of Micronesia', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'North Korea', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Réunion', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'UK', 'US Virgin Islands', 'USA', 'USSR', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Republic of Tanzania', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Vietnam', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe']

Since the first physical copies of movies were released in 1996, we should remove the ones that came out before that moment. It is clearly an error!

In [31]:
releases_df = releases_df[~((releases_df['type'] == 'Physical') & (releases_df['date'].dt.year < 1996))]
releases_df.query('type == "Physical"')

         movie_id      country       date      type rating
23        1000001       France 2023-11-22  Physical     TP
26        1000001      Germany 2023-10-26  Physical      6
38        1000001        Japan 2023-11-22  Physical      G
53        1000001  Puerto Rico 2023-10-17  Physical  PG-13
73        1000001           UK 2023-10-23  Physical     12
...           ...          ...        ...       ...    ...
1332559   1940748    Hong Kong 1999-10-01  Physical   <NA>
1332569   1940757       France 1998-01-01  Physical     TP
1332574   1940762       Israel 1997-01-01  Physical   <NA>
1332578   1940766        China 1996-04-18  Physical   <NA>
1332579   1940767       Taiwan 1996-01-01  Physical   <NA>

[70811 rows x 5 columns]

The same should be done with digital releases: if we take the type 'Digital' as "movie released in streaming services or downloadable", this cannot be applied to movies released before a certain date. The first movies to be released digitally were in 1997.

In [32]:
releases_df = releases_df[~((releases_df['type'] == 'Digital') & (releases_df['date'].dt.year < 1997))]
releases_df.query('type == "Digital"')

         movie_id                           country       date     type rating
3         1000001                         Australia 2023-10-01  Digital     PG
17        1000001                           Denmark 2023-12-15  Digital   <NA>
37        1000001                             Japan 2023-10-25  Digital      G
45        1000001                       New Zealand 2023-10-01  Digital     PG
51        1000001                       Puerto Rico 2023-09-12  Digital  PG-13
...           ...                               ...        ...      ...    ...
1332455   1940644                           Romania 2010-01-01  Digital     15
1332485   1940675                            France 2008-05-19  Digital   <NA>
1332494   1940684                            France 2007-11-22  Digital   <NA>
1332497   1940687  Bolivarian Republic of Venezuela 2007-10-01  Digital   <NA>
1332507   1940697                                UK 2006-10-01  Digital   <NA>

[169358 rows x 5 columns]

## ARE THERE NA VALUES IN THE DATASET?

In [33]:
not_available_ids = releases_df['movie_id'].isna().sum()
not_available_country = releases_df['country'].isna().sum()
not_available_date = releases_df['date'].isna().sum()
not_available_type = releases_df['type'].isna().sum()
not_available_rating = releases_df['rating'].isna().sum()
print('\nnot available ids: {}'.format(not_available_ids),
      '\nNot available country: {}'.format(not_available_country),
      '\nNot available date: {}'.format(not_available_date),
      '\nNot available type: {}'.format(not_available_type),
      '\nNot available rating: {}'.format(not_available_rating))

not available ids: 0
Not available country: 0
Not available date: 0
Not available type: 0
Not available rating: 992189

## ARE THERE ANY DUPLICATES?

In [34]:
num_duplicates_releases = releases_df.duplicated().sum()
print('There are a total of {} duplicates '.format(num_duplicates_releases))

There are a total of 0 duplicates

## ARE THERE ANY UNREASONABLE VALUES?

In [35]:
releases_df.query('date > 2030')

         movie_id                   country       date        type rating
201170    1008278                    France 2033-03-12     Digital   <NA>
227571    1011069                   Czechia 2031-12-18  Theatrical   <NA>
227572    1011069                   Germany 2031-12-17  Theatrical   <NA>
227573    1011069                       USA 2031-12-19  Theatrical   <NA>
227574    1011069                   Ukraine 2031-12-18  Theatrical   <NA>
669378    1234346                   Austria 2043-08-29     Digital     16
765187    1318313                   Austria 2040-07-18     Digital     16
778659    1330579                   Austria 2040-09-11     Digital     16
877139    1422414                   Austria 2033-05-10  Theatrical     16
905157    1449473                     Spain 2030-05-16  Theatrical   <NA>
920264    1464199                      Guam 2034-10-13  Theatrical   <NA>
923547    1467354                   Austria 2041-07-18     Digital     14
1260995   1834707                       USA 2030-07-01     Digital   <NA>
1263818   1837445                   Austria 2041-06-15     Digital     16
1295540   1877937               Switzerland 2033-11-01    Physical   <NA>
1328535   1934222  Central African Republic 2099-12-09          TV   <NA>
1328559   1934245  Central African Republic 2099-03-12          TV   <NA>
1331797   1940010                       USA 2030-05-30  Theatrical   <NA>

In [36]:
releases_df['date'].describe()

count                          1323196
mean     2002-11-04 10:45:29.674515968
min                1874-12-09 00:00:00
25%                1995-07-27 00:00:00
50%                2012-12-09 00:00:00
75%                2020-01-23 00:00:00
max                2099-12-09 00:00:00
Name: date, dtype: object

## SAVING THE CLEANED DATASET

In [37]:
releases_df.to_csv('data_cleaned/releases_cleaned.csv', index=False)

In [38]:
releases_df = None