# ROTTEN_TOMATOES_REVIEWS.CSV CLEANING

In [33]:
import pandas as pd

In [34]:
data_directory = 'data_csv/'

reviews_df = pd.read_csv(data_directory+'rotten_tomatoes_reviews.csv')
reviews_df

,rotten_tomatoes_link,movie_title,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...,...
1129882,m/zulu_dawn,Zulu Dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1129883,m/zulu_dawn,Zulu Dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1129884,m/zulu_dawn,Zulu Dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1129885,m/zulu_dawn,Zulu Dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1129886,m/zulu_dawn,Zulu Dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [35]:
reviews_df.shape

(1129887, 9)

In [36]:
reviews_df.dtypes

rotten_tomatoes_link    object
movie_title             object
critic_name             object
top_critic                bool
publisher_name          object
review_type             object
review_score            object
review_date             object
review_content          object
dtype: object

## CHANGING TYPES OF OBJECT COLUMNS

In [37]:
reviews_df['movie_title'] = reviews_df['movie_title'].astype('string')
reviews_df['critic_name'] = reviews_df['critic_name'].astype('string')
reviews_df['publisher_name'] = reviews_df['publisher_name'].astype('string')
reviews_df['review_type'] = reviews_df['review_type'].astype('string')
reviews_df['review_score'] = reviews_df['review_score'].astype('string')
reviews_df['review_date'] = pd.to_datetime(reviews_df['review_date'], format="%Y-%m-%d")
reviews_df['review_content'] = reviews_df['review_content'].astype('string')
reviews_df.dtypes

rotten_tomatoes_link            object
movie_title             string[python]
critic_name             string[python]
top_critic                        bool
publisher_name          string[python]
review_type             string[python]
review_score            string[python]
review_date             datetime64[ns]
review_content          string[python]
dtype: object

## NOW WE TRY TO UNDERSTAND COLUMNS VALUES

In [38]:
columns_values = list(reviews_df.columns.values)
print(columns_values)

['rotten_tomatoes_link', 'movie_title', 'critic_name', 'top_critic', 'publisher_name', 'review_type', 'review_score', 'review_date', 'review_content']

In [39]:
print(list(reviews_df['review_type'].unique()))

['Fresh', 'Rotten']

Fresh: 60% and above – Indicates generally favorable reviews from critics.

Rotten: Below 60% – Indicates generally unfavorable reviews from critics.

In [40]:
# is there a way to normalise these values?
types_of_score = list(reviews_df['review_score'].dropna().unique())
types_of_score.sort()
print(types_of_score)

['0', '0.02/5', '0.05/4', '0.1/5', '0.13/1', '0.13/5', '0.2/5', '0.21/10', '0.25/4', '0.3/5', '0.4/5', '0.5/10', '0.5/4', '0.5/5', '0.5/5.5', '0.52/1', '0.58/1', '0.59/1', '0.6/1', '0.6/10', '0.65/10', '0.66/10', '0.664363/10', '0.666/4', '0.7221/10', '0.75/10', '0.75/5', '0.7765823/10', '0.8/10', '0.8/5', '0.81/1', '0.82/10', '0.85/10', '0.9/10', '0.96/10', '0/10', '0/100', '0/1000', '0/4', '0/5', '0/6', '1', '1.1/10', '1.1/2', '1.1/5', '1.2/10', '1.2/4', '1.2/5', '1.21/10', '1.24/5', '1.25/4', '1.25/5', '1.3/5', '1.35/5', '1.4/10', '1.4/4', '1.4/5', '1.5/10', '1.5/2', '1.5/3', '1.5/4', '1.5/5', '1.5/6', '1.5242228/10', '1.6/5', '1.62/5', '1.7/5', '1.75/10', '1.75/4', '1.75/5', '1.8/10', '1.8/4', '1.8/5', '1.82/10', '1.85/10', '1.88/10', '1.9/10', '1.9/5', '1.9528/10', '1/1', '1/10', '1/2', '1/3', '1/4', '1/5', '1/54', '1/6', '10', '10.50/20', '10/10', '10/100', '10/20', '10/90', '100/100', '11.5/20', '11/100', '11/20', '12.5/20', '12.50/20', '12/100', '12/20', '13.5/20', '13/100', '13/20', '14', '14.5/20', '14.50/20', '14/100', '14/20', '15.5/20', '15/100', '15/20', '16.5/20', '16/100', '16/20', '17.5/20', '17/20', '18.5/20', '18/100', '18/20', '19/100', '19/20', '2', '2.1/10', '2.1/2', '2.1/5', '2.11/5', '2.12/5', '2.2/10', '2.2/5', '2.20282652/10', '2.212521/10', '2.25/4', '2.25/5', '2.255/5', '2.282303/10', '2.3/10', '2.3/4', '2.3/5', '2.4/10', '2.4/4', '2.4/5', '2.5/10', '2.5/20', '2.5/3', '2.5/4', '2.5/5', '2.5/50', '2.5/6', '2.50/5', '2.55/4', '2.55/5', '2.6/10', '2.6/4', '2.6/5', '2.6/6', '2.65/10', '2.7/10', '2.7/4', '2.7/5', '2.74/10', '2.75/10', '2.75/3', '2.75/4', '2.75/5', '2.8/10', '2.8/4', '2.8/5', '2.83/5', '2.85/5', '2.89/5', '2.892521821/10', '2.9/10', '2.9/5', '2.95/10', '2.95/5', '2/10', '2/100', '2/2', '2/20', '2/3', '2/4', '2/5', '2/54', '2/6', '2/8', '2/9', '20/100', '20/20', '21/100', '21/24', '22/100', '23/100', '24', '24/100', '25', '25/100', '25/4', '26/100', '27/100', '28/100', '29/100', '3', '3.021/10', '3.0782/10', '3.1/10', '3.1/5', '3.15/5', '3.2/10', '3.2/4', '3.2/5', '3.20/10', '3.2121/10', '3.222423/10', '3.25/10', '3.25/4', '3.25/5', '3.3/10', '3.3/4', '3.3/5', '3.35/5', '3.4/10', '3.4/4', '3.4/5', '3.45/5', '3.5/10', '3.5/18', '3.5/20', '3.5/3', '3.5/4', '3.5/44', '3.5/5', '3.5/5.5', '3.5/6', '3.515/10', '3.54/5', '3.55/10', '3.56339/10', '3.6/10', '3.6/4', '3.6/5', '3.65/10', '3.65/5', '3.7/10', '3.7/5', '3.75/10', '3.75/4', '3.75/5', '3.7521/10', '3.76/10', '3.76/5', '3.7822391/10', '3.8/10', '3.8/5', '3.83412437/10', '3.85/10', '3.9/10', '3.9/5', '3.99/10', '3/10', '3/100', '3/20', '3/3', '3/4', '3/40', '3/45', '3/5', '3/5.4', '3/5.5', '3/6', '30/100', '31/100', '32/100', '33/100', '34', '34/100', '35', '35/100', '35/4', '36/100', '37/100', '38/100', '39/100', '39/40', '4', '4.0001/10', '4.021/10', '4.05524/10', '4.1/10', '4.1/5', '4.143641/10', '4.2/10', '4.2/5', '4.21/10', '4.211/10', '4.2112/10', '4.21382343/10', '4.22/10', '4.25/10', '4.25/5', '4.293382/10', '4.3/10', '4.3/5', '4.35/10', '4.35/5', '4.364221/10', '4.4/10', '4.4/5', '4.42/10', '4.45/10', '4.5/10', '4.5/4', '4.5/5', '4.5/6', '4.51/10', '4.521/10', '4.55/10', '4.558/10', '4.56/10', '4.6/10', '4.6/5', '4.65/10', '4.65/5', '4.7/10', '4.7/5', '4.70/10', '4.75/10', '4.75/5', '4.79/10', '4.8/10', '4.8/5', '4.827/10', '4.85/10', '4.86/10', '4.89/10', '4.89215/10', '4.9/10', '4.90/10', '4.95/10', '4.95/5', '4.9834326/10', '4.9837/10', '4/0', '4/10', '4/100', '4/3.5', '4/4', '4/5', '4/5.5', '4/6', '4/8', '40/100', '41/100', '42/100', '43/100', '44/100', '45', '45/100', '45/5', '46', '46/100', '47/100', '47/50', '48', '48/100', '49/100', '5', '5.01/10', '5.02120621/10', '5.046/10', '5.05/10', '5.1/10', '5.10/10', '5.12/10', '5.1221/10', '5.15/10', '5.1921/10', '5.2/10', '5.21/10', '5.212/10', '5.22/10', '5.23/10', '5.232121/10', '5.25/10', '5.284849/10', '5.3/10', '5.35/10', '5.4/10', '5.4221/10', '5.44/10', '5.45/10', '5.48/10', '5.49/10', '5.5/10', '5.5/20', '5.5/5', '5.5/6', '5.50/10', '5.51/10', '5.55/10', '5.5542/10', '5.56/10', '5.57/10', '5.6/10', '5.61/10', '5.623433899/10', '5.65/10', '5.6521/10', '5.6642/10', '5.67/10', '5.7/10', '5.70/10', '5.72/10', '5.75/10', '5.751/10', '5.76/10', '5.78/10', '5.8/10', '5.80/10', '5.81/10', '5.82/10', '5.8311/10', '5.85/10', '5.872/10', '5.88/10', '5.8921/10', '5.8943/10', '5.895/10', '5.89521/10', '5.9/10', '5.95/10', '5.9737991/10', '5.9821/10', '5.9999/10', '5/10', '5/100', '5/11', '5/20', '5/5', '5/6', '5/8', '50/100', '51/100', '52/100', '53/100', '54/100', '55/100', '56/100', '57/100', '58/100', '59/100', '59/60', '6', '6.0000001/10', '6.000003231/10', '6.00001/10', '6.0001/10', '6.00024/10', '6.001/10', '6.01/10', '6.02/10', '6.02121/10', '6.05/10', '6.09/10', '6.1/10', '6.1121/10', '6.15/10', '6.16/10', '6.19/10', '6.2/10', '6.24/10', '6.25/10', '6.26/10', '6.3/10', '6.35/10', '6.4/10', '6.45/10', '6.4821/10', '6.5/10', '6.55/10', '6.6/10', '6.65/10', '6.68/10', '6.7/10', '6.7/8', '6.75/10', '6.765/10', '6.78/10', '6.8/10', '6.84/10', '6.85/10', '6.8666/10', '6.875/10', '6.8843/10', '6.89/10', '6.9/10', '6.95/10', '6.96/10', '6.9621/10', '6.97/10', '6.98/10', '6.9921/10', '6/10', '6/11', '6/13', '6/20', '6/5', '6/6', '6/8', '60/100', '61/00', '61/100', '62/100', '63/100', '64/100', '65/100', '66/100', '66/70', '67', '67/10', '67/100', '68', '68/100', '69/100', '69/70', '7', '7.001/10', '7.00122/10', '7.01/10', '7.0155/10', '7.02/10', '7.021/10', '7.04/10', '7.05/10', '7.0921/10', '7.1/10', '7.10/10', '7.111113314/10', '7.12/10', '7.15/10', '7.18321/10', '7.2/10', '7.21/10', '7.212121/10', '7.218/10', '7.22/10', '7.2234238/10', '7.25/10', '7.2521/10', '7.2621/10', '7.3/10', '7.35/10', '7.3821/10', '7.3856/10', '7.4/10', '7.42/10', '7.44/10', '7.45/10', '7.48/10', '7.49/10', '7.4921/10', '7.5/10', '7.5/20', '7.5211/10', '7.5314585/10', '7.55/10', '7.57/10', '7.6/10', '7.61/10', '7.621/10', '7.62121/10', '7.65/10', '7.696/10', '7.7/10', '7.75/10', '7.79/10', '7.8/10', '7.825/10', '7.83/10', '7.85/10', '7.87/10', '7.89/10', '7.892/10', '7.9/10', '7.94/10', '7.94215/10', '7.95/10', '7.96/10', '7.98/10', '7/10', '7/11', '7/20', '7/5', '7/8', '70', '70/100', '71/100', '72', '72/100', '73/10', '73/100', '74/100', '75', '75/10', '75/100', '76/10', '76/100', '77', '77/100', '78/100', '79/100', '79/80', '8', '8.01/10', '8.05/10', '8.1/10', '8.10/10', '8.124/10', '8.15/10', '8.16/10', '8.19/10', '8.1921/10', '8.199/10', '8.2/10', '8.21/10', '8.212121/10', '8.225/10', '8.24/10', '8.25/10', '8.251/10', '8.2521/10', '8.26/10', '8.2621/10', '8.3/10', '8.3/100', '8.30/10', '8.32/10', '8.32321/10', '8.327/10', '8.35/10', '8.3721/10', '8.385/10', '8.39421/10', '8.4/10', '8.42/10', '8.425/10', '8.45/10', '8.453895/10', '8.458/10', '8.485/10', '8.496/10', '8.5/10', '8.5/5', '8.50/10', '8.53899/10', '8.55/10', '8.56/10', '8.57/10', '8.5788222/10', '8.6/10', '8.61/10', '8.621/10', '8.65/10', '8.666/10', '8.67/10', '8.68/10', '8.692121/10', '8.7/10', '8.70/10', '8.71/10', '8.72/10', '8.7328/10', '8.735/10', '8.74/10', '8.75/10', '8.76/10', '8.765/10', '8.8/10', '8.84/10', '8.85/10', '8.87/10', '8.88/10', '8.881/10', '8.89/10', '8.899327/10', '8.9/10', '8.901/10', '8.92/10', '8.921/10', '8.95/10', '8.9521/10', '8.9621/10', '8.98/10', '8.99/10', '8.999/10', '8/10', '8/100', '8/20', '8/5', '80', '80/100', '81/100', '82/100', '83/100', '84/100', '85/100', '86/100', '87/10', '87/100', '88', '88/100', '89', '89/100', '9', '9.01/10', '9.021/10', '9.1/10', '9.12/10', '9.121/10', '9.1221/10', '9.14/10', '9.1421/10', '9.145/10', '9.15/10', '9.16/10', '9.18/10', '9.188/10', '9.19/10', '9.2/10', '9.20/10', '9.2021/10', '9.21/10', '9.25/10', '9.26/10', '9.3/10', '9.30/10', '9.33/10', '9.35/10', '9.38/10', '9.4/10', '9.45/10', '9.46/10', '9.48/10', '9.49/10', '9.5/10', '9.5/20', '9.5/5', '9.50/20', '9.51/10', '9.52/10', '9.552/10', '9.56/10', '9.6/10', '9.6421/10', '9.649821/10', '9.65/10', '9.66/10', '9.67/10', '9.68/10', '9.7/10', '9.73889/10', '9.74/10', '9.75/10', '9.76/10', '9.78/10', '9.79/10', '9.8/10', '9.85/10', '9.851/10', '9.8521/10', '9.85621/10', '9.86/10', '9.865/10', '9.87/10', '9.88/10', '9.889/10', '9.89/10', '9.9/10', '9.921/10', '9.95/10', '9.99/10', '9/10', '9/100', '9/20', '9/5', '90', '90/100', '91/100', '910', '92/100', '920', '93/100', '94/100', '95', '95/100', '95/95', '96/100', '97/100', '98/100', '99/100', 'A', 'A  -', 'A-', 'B', 'B+', 'B-', 'C', 'C  -', 'C+', 'C-', 'D', 'D+', 'D-', 'F']

these scores are confusing. Rotten Tomatoes aggregates review scores from a variety of sources, including professional critics, publications, and audience ratings, which means each critic may use different types of rating, such as:
- letters: A, B, C etc.
- numbers: 2, 10, 77 etc.
- fractions: 4/5, 2/3, 10/90 etc.

In [41]:
reviews_df.loc[:, 'review_score'] = reviews_df['review_score'].str.replace(' ', '')

In [42]:
def normalize_score(score):

    if isinstance(score, str):
        # case when there's a denominator
        if '/' in score:
            num, den = map(float, score.split('/'))
            if den == 0: # if the num has 0 as denominator
                return num
            return (num / den) * 100
        elif score.isnumeric():
            return score

        letter_grades = { # normalise letters into nums
            'A+': 100, 'A': 95, 'A-': 90,
            'B+': 85, 'B': 80, 'B-': 75,
            'C+': 70, 'C': 65, 'C-': 60,
            'D+': 55, 'D': 50, 'D-': 45,
            'F': 30
        }
        return letter_grades.get(score)

In [43]:
reviews_df['normalized_review_score'] = reviews_df['review_score'].apply(normalize_score)
reviews_df['normalized_review_score'] = reviews_df['normalized_review_score'].astype(float)

## ARE THERE NA VALUES IN THE DATASET?

In [44]:
not_available_links = reviews_df['rotten_tomatoes_link'].isna().sum()
not_available_movie_titles = reviews_df['movie_title'].isna().sum()
not_available_critic_name = reviews_df['critic_name'].isna().sum()
not_available_top_critic = reviews_df['top_critic'].isna().sum()
not_available_publisher_name = reviews_df['publisher_name'].isna().sum()
not_available_review_type = reviews_df['review_type'].isna().sum()
not_available_review_score = reviews_df['review_score'].isna().sum()
not_available_normalized_view_score = reviews_df['normalized_review_score'].isna().sum()
not_available_review_date = reviews_df['review_date'].isna().sum()
not_available_review_content = reviews_df['review_content'].isna().sum()

In [45]:
print('Not available links: ', not_available_links,
      '\nNot available movie titles: ', not_available_movie_titles,
      '\nNot available critic name: ', not_available_critic_name,
      '\nNot available top critic: ', not_available_top_critic,
      '\nNot available publisher: ', not_available_publisher_name,
      '\nNot available review type: ', not_available_review_type,
      '\nNot available review score: ', not_available_review_score,
      '\nNot available normalized review score: ', not_available_normalized_view_score,
      '\nNot available review date: ', not_available_review_date,
      '\nNot available review content: ', not_available_review_content)

Not available links:  0
Not available movie titles:  0
Not available critic name:  18521
Not available top critic:  0
Not available publisher:  0
Not available review type:  0
Not available review score:  305902
Not available normalized review score:  305902
Not available review date:  0
Not available review content:  65778

## ARE THERE ANY DUPLICATES?

In [46]:
num_duplicated_reviews = reviews_df.duplicated().sum()
print('There are a total of {} duplicates'.format(num_duplicated_reviews))

There are a total of 119471 duplicates

In [47]:
reviews_df.loc[reviews_df.duplicated(keep=False)]

,rotten_tomatoes_link,movie_title,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,normalized_review_score
35513,m/1069696-screamers,Screamers,Dave White,False,Movies.com,Fresh,B-,1996-01-26,<NA>,75.0
35514,m/1069696-screamers,Screamers,Dave White,False,Movies.com,Fresh,B-,1996-01-26,<NA>,75.0
35576,m/1069707-othello,Othello,Fred Topel,False,About.com,Fresh,4/5,2003-11-25,Fine Shakespeare adaptation,80.0
35577,m/1069707-othello,Othello,Fred Topel,False,About.com,Fresh,4/5,2003-11-25,Fine Shakespeare adaptation,80.0
41315,m/1087935-buena_vista_social_club,Buena Vista Social Club,<NA>,False,Film Threat,Fresh,4/5,2002-12-08,<NA>,80.0
...,...,...,...,...,...,...,...,...,...,...
955042,m/the_fog_of_war_eleven_lessons_from_the_life_...,The Fog of War: Eleven Lessons from the Life o...,<NA>,False,Film Threat,Fresh,4/5,2005-12-06,<NA>,80.0
959360,m/the_girl_with_the_dragon_tattoo_2009,The Girl with the Dragon Tattoo,<NA>,False,National Post,Fresh,3.5/4,2009-02-27,<NA>,87.5
959361,m/the_girl_with_the_dragon_tattoo_2009,The Girl with the Dragon Tattoo,<NA>,False,National Post,Fresh,3.5/4,2009-02-27,<NA>,87.5
1044907,m/together_2001,Together,<NA>,False,Film Threat,Fresh,4/5,2002-12-08,<NA>,80.0
1044908,m/together_2001,Together,<NA>,False,Film Threat,Fresh,4/5,2002-12-08,<NA>,80.0

In [48]:
reviews_df = reviews_df[~reviews_df.duplicated()]
reviews_df.loc[reviews_df.duplicated()]

Empty DataFrame
Columns: [rotten_tomatoes_link, movie_title, critic_name, top_critic, publisher_name, review_type, review_score, review_date, review_content, normalized_review_score]
Index: []

In [49]:
reviews_df.loc[35513]

rotten_tomatoes_link       m/1069696-screamers
movie_title                          Screamers
critic_name                         Dave White
top_critic                               False
publisher_name                      Movies.com
review_type                              Fresh
review_score                                B-
review_date                1996-01-26 00:00:00
review_content                            <NA>
normalized_review_score                   75.0
Name: 35513, dtype: object

## ARE THERE ANY UNREASONABLE VALUES?

In [50]:
bigger_than_100 = reviews_df[reviews_df['normalized_review_score'] > 100]
bigger_than_100

,rotten_tomatoes_link,movie_title,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,normalized_review_score
44843,m/1098652-in_crowd,The In Crowd,Scott A. Mantz,False,Scott Mantz' Movie Reviews,Rotten,7/5,2000-01-01,If you're looking for an engaging movie with c...,140.000000
111377,m/adoration,Adoration,Pam Grady,False,Boxoffice Magazine,Fresh,4.5/4,2009-04-23,Egoyan's finest in years.,112.500000
112814,m/affliction,Affliction,Russell Smith,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,<NA>,110.000000
126588,m/american_beauty,American Beauty,Scott A. Mantz,False,Scott Mantz' Movie Reviews,Fresh,9/5,2000-01-01,You can't help but wonder how people find them...,180.000000
152047,m/avengers_age_of_ultron,Avengers: Age of Ultron,Kevin A. Ranson,False,MovieCrypt.com,Fresh,3.5/3,2015-05-03,"... tops the original ... yet, somehow it felt...",116.666667
190365,m/bless_the_child,Bless the Child,Scott A. Mantz,False,Scott Mantz' Movie Reviews,Rotten,8/5,2000-01-01,Considering how jaded moviegoers are these day...,160.000000
201589,m/boy_erased,Boy Erased,Tiffany Tchobanian,False,Film Threat,Fresh,9.5/5,2018-10-16,Boy Erased is a poignant family drama that exp...,190.000000
202512,m/boys_dont_cry,Boys Don't Cry,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,<NA>,110.000000
238191,m/children_of_men,Children of Men,Lawrence Toppman,False,Charlotte Observer,Fresh,35/4,2007-01-04,It's as if Cuaron sees a future so hellish tha...,875.000000
238833,m/chill_factor,Chill Factor,Scott A. Mantz,False,Scott Mantz' Movie Reviews,Rotten,9/5,2000-01-01,"Cuba, got a minute? We've gotta talk! Your car...",180.000000
336986,m/fast_cheap_and_out_of_control,"Fast, Cheap & Out of Control",Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,<NA>,110.000000
359236,m/freedom_writers,Freedom Writers,John Anderson,True,Newsday,Fresh,35/4,2007-01-04,Freedom Writers takes plenty of shots at the s...,875.000000
379580,m/godfather,The Godfather,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,So many great roles and characters in this mov...,110.000000
453642,m/inmate_1_the_rise_of_danny_trejo,Inmate #1: The Rise of Danny Trejo,Sarah Knight Adamson,False,Sarah's Backstage Pass,Fresh,4/3.5,2020-07-10,"The film comes from the heart, it's a raw, upl...",114.285714
462329,m/is_there_anybody_there,Is Anybody There?,Leigh Paatsch,False,Herald Sun (Australia),Rotten,5.5/5,2009-05-27,Director John Crowley overestimates the comedi...,110.000000
490080,m/kill_bill_vol_1,Kill Bill: Volume 1,<NA>,False,Sunday Times (Australia),Fresh,4.5/4,2003-10-23,<NA>,112.500000
503524,m/lady_bird,Lady Bird,Di Golding,False,Dear Cast and Crew,Fresh,4.5/4,2018-12-07,"Greta Gerwig, in her first time out of the gat...",112.500000
556085,m/marley_and_me,Marley & Me,Sean Gandert,False,Paste Magazine,Fresh,67/10,2009-01-05,It dips a little too deeply into unnecessary s...,670.000000
565895,m/megan_leavey,Megan Leavey,Philip Martin,False,Arkansas Democrat-Gazette,Fresh,87/10,2017-06-09,"It's hard not to like a good old-fashioned, dr...",870.000000
607697,m/never_rarely_sometimes_always,Never Rarely Sometimes Always,Sarah Knight Adamson,False,Sarah's Backstage Pass,Fresh,4/3.5,2020-04-03,"The powerful, enlightening ""Never, Rarely, Som...",114.285714
646704,m/pawn_sacrifice,Pawn Sacrifice,Uriel Barco,False,Garuyo,Fresh,8.5/5,2016-02-28,"A movie about victory, loss, paranoia, and tol...",170.000000
669816,m/pride_2014,Pride,Sean P. Means,False,Salt Lake Tribune,Fresh,35/4,2015-01-05,The script's many small moments are catnip for...,875.000000
680197,m/pulp_fiction,Pulp Fiction,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,Rarely have I left a movie theatre more thrill...,110.000000
682688,m/pursuit_of_happyness,The Pursuit of Happyness,Johnny Vaughan,False,The Sun (UK),Fresh,4.5/4,2007-01-14,The on-screen chemistry between father and son...,112.500000
765859,m/schindlers_list,Schindler's List,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,Spielberg marshals all his formidable storytel...,110.000000
819852,m/skyfall,Skyfall,Roger Moore,False,Tribune News Service,Fresh,35/4,2012-11-08,"Gets Bond back to the basics: bullets, babes, ...",875.000000
832780,m/sobibor,Sobibor,Mark R. Leeper,False,Mark Leeper's Reviews,Fresh,920,2019-04-28,While the entire film has been downbeat (to sa...,920.000000
886523,m/straight_story,The Straight Story,Mike Emery,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,What Lynch goes for here is a brilliant odysse...,110.000000
893989,m/suffragette,Suffragette,Tony Medley,False,Tolucan Times,Rotten,76/10,2015-10-27,...tells a true story with mostly fictional ch...,760.000000
920179,m/the-eagle-of-the-ninth,The Eagle,Radheyan Simonpillai,False,AskMen.com,Fresh,75/10,2011-02-11,"The material here verges on camp, but director...",750.000000
922889,m/the_accountant_2016,The Accountant,Tony Medley,False,Tolucan Times,Fresh,910,2016-10-17,...a well done thriller that does not lag...wi...,910.000000
941807,m/the_dark_knight,The Dark Knight,Kevin McCarthy,False,WJFK-FM (CBS Radio),Fresh,6/5,2008-07-17,Ledger's performance reigns over Nicholson's b...,120.000000
944688,m/the_details_2010,The Details,Roger Moore,False,Tribune News Service,Fresh,25/4,2012-11-01,"Maguire, given the chance to play ""a dirty phi...",625.000000
948947,m/the_emperor_and_the_assassin,The Emperor and the Assassin (Jing Ke ci Qin W...,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,<NA>,110.000000
961130,m/the_grandmaster,The Grandmaster,Leonard Maltin,False,leonardmaltin.com,Rotten,2.1/2,2013-08-23,Wong Kar Wai's new epic The Grandmaster is an ...,105.000000
979009,m/the_judge_2014,The Judge,Tony Medley,False,Tolucan Times,Fresh,910,2014-10-10,Finally Robert Downey gets an intelligent scri...,910.000000
987946,m/the_little_stranger_2018,The Little Stranger,Eric Eisenberg,False,CinemaBlend,Fresh,45/5,2018-09-01,"It's deliberate in its storytelling, and may n...",900.000000
1000103,m/the_old_man_and_the_gun,The Old Man & the Gun,Abby Olcese,False,Rave Reviews,Fresh,73/10,2019-03-18,The Old Man and the Gun isn't here to rock the...,730.000000
1068829,m/unfinished_song,Unfinished Song,Leonard Maltin,False,leonardmaltin.com,Fresh,2.1/2,2013-06-21,I can't fault the actors or their performances...,105.000000
1078989,m/vertigo,Vertigo,Marjorie Baumgarten,False,Austin Chronicle,Fresh,5.5/5,2000-01-01,Vertigo stands as one of the thrill master's m...,110.000000

there are some wrongly typed fractions which lead to a normalized score bigger than what it should be (we are normalizing using /100)

In [51]:
# should we delete those values or round it to 100?
print('There are {} values which are bigger than 100.'.format(bigger_than_100['normalized_review_score'].count()))
print('On the other hand, there are {} values in total in the column.'.format(reviews_df['normalized_review_score'].count()))

There are 40 values which are bigger than 100.
On the other hand, there are 736845 values in total in the column.

from the prospective of a data analysis, losing 40 values is not that much since there are a lot more values to analyse, hence they are not that significative to our purpose. We could remove them and leave a NaN, since inserting a default value could result in unexpected outcomes.

In [52]:
import numpy as np
reviews_df.loc[reviews_df['normalized_review_score'] > 100, 'normalized_review_score'] = np.nan
reviews_df.loc[reviews_df['normalized_review_score'] > 100]

Empty DataFrame
Columns: [rotten_tomatoes_link, movie_title, critic_name, top_critic, publisher_name, review_type, review_score, review_date, review_content, normalized_review_score]
Index: []

In [53]:
reviews_df

,rotten_tomatoes_link,movie_title,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,normalized_review_score
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Andrew L. Urban,False,Urban Cinefile,Fresh,<NA>,2010-02-06,A fantasy adventure that fuses Greek mythology...,NaN
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Louise Keller,False,Urban Cinefile,Fresh,<NA>,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff...",NaN
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,<NA>,False,FILMINK (Australia),Fresh,<NA>,2010-02-09,With a top-notch cast and dazzling special eff...,NaN
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...,70.0
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Ethan Alter,True,Hollywood Reporter,Rotten,<NA>,2010-02-10,What's really lacking in The Lightning Thief i...,NaN
...,...,...,...,...,...,...,...,...,...,...
1129882,m/zulu_dawn,Zulu Dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,<NA>,40.0
1129883,m/zulu_dawn,Zulu Dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme...",70.0
1129884,m/zulu_dawn,Zulu Dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...,85.0
1129885,m/zulu_dawn,Zulu Dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th...",70.0
1129886,m/zulu_dawn,Zulu Dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...,65.0

In [55]:
print(reviews_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1010416 entries, 0 to 1129886
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   rotten_tomatoes_link     1010416 non-null  object
 1   movie_title              1010416 non-null  string
 2   critic_name              993970 non-null   string
 3   top_critic               1010416 non-null  bool
 4   publisher_name           1010416 non-null  string
 5   review_type              1010416 non-null  string
 6   review_score             736845 non-null   string
 7   review_date              1010416 non-null  datetime64[ns]
 8   review_content           951918 non-null   string
 9   normalized_review_score  736805 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(1), object(1), string(6)
memory usage: 78.1+ MB
None

## SAVING THE CLEANED DATASET

In [56]:
reviews_df.to_csv('data_cleaned/reviews_cleaned.csv', index=False)

In [61]:
reviews_df = None