# THE_OSCAR_AWARDS.CSV CLEANING

In [1]:
import pandas as pd
import re

In [2]:
data_directory = 'data_csv/'

oscar_awards_df = pd.read_csv(data_directory + 'the_oscar_awards.csv')
oscar_awards_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10884,2023,2024,96,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",NaN,True
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",NaN,True
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",NaN,True

In [3]:
oscar_awards_df.shape

(10889, 7)

In [4]:
oscar_awards_df.dtypes

year_film         int64
year_ceremony     int64
ceremony          int64
category         object
name             object
film             object
winner             bool
dtype: object

## CHANGING TYPES OF OBJECT COLUMNS

In [5]:
oscar_awards_df['year_film'] = oscar_awards_df['year_film'].astype(int)
oscar_awards_df['year_ceremony'] = oscar_awards_df['year_ceremony'].astype(int)
oscar_awards_df['category'] = oscar_awards_df['category'].astype('string')
oscar_awards_df['name'] = oscar_awards_df['name'].astype('string')
oscar_awards_df['film'] = oscar_awards_df['film'].astype('string')
oscar_awards_df.dtypes

year_film                 int64
year_ceremony             int64
ceremony                  int64
category         string[python]
name             string[python]
film             string[python]
winner                     bool
dtype: object

## NOW WE TRY TO UNDERSTAND COLUMNS VALUES

In [6]:
columns_values = list(oscar_awards_df.columns.values)
print(columns_values)

['year_film', 'year_ceremony', 'ceremony', 'category', 'name', 'film', 'winner']

In [7]:
# we might change 'film' with 'movie' to be cohesive with the rest of the dataset terms
oscar_awards_df.rename(columns={'year_film': 'year_movie', 'film': 'movie'}, inplace=True)
print(columns_values)

['year_film', 'year_ceremony', 'ceremony', 'category', 'name', 'film', 'winner']

In [8]:
list_of_categories = list(oscar_awards_df['category'].unique())
print(list_of_categories)

['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY', 'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)', 'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE', 'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)', 'WRITING (Original Story)', 'WRITING (Title Writing)', 'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION', 'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)', 'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)', 'MUSIC (Music Score of a Dramatic Picture)', 'MUSIC (Scoring of a Musical Picture)', 'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY', 'MUSIC (Music Score of a Dramatic or Comedy Picture)', 'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)', 'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)', 'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)', 'SPECIAL FOREIGN LANGUAGE FILM AWARD', 'WRITING (Story and Screenplay)', 'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD', 'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)', 'WRITING (Screenplay--Original)', 'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN', 'SHORT SUBJECT (Live Action)', 'WRITING (Screenplay--based on material from another medium)', 'WRITING (Story and Screenplay--written directly for the screen)', 'SOUND', 'MUSIC (Music Score--substantially original)', 'MUSIC (Scoring of Music--adaptation or treatment)', 'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS', 'MUSIC (Original Music Score)', 'MUSIC (Original Score--for a motion picture [not a musical])', 'MUSIC (Score of a Musical Picture--original or adaptation)', 'MUSIC (Song--Original for the Picture)', 'WRITING (Story and Screenplay--based on material not previously published or produced)', 'MUSIC (Original Song Score)', 'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)', 'MUSIC (Original Dramatic Score)', 'MUSIC (Scoring: Adaptation and Original Song Score)', 'SHORT SUBJECT (Animated)', 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)', 'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)', 'SHORT FILM (Animated)', 'SHORT FILM (Live Action)', 'WRITING (Screenplay Adapted from Other Material)', 'MUSIC (Original Song)', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)', 'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE', 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)', 'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)', 'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)', 'MUSIC (Adaptation Score)', 'WRITING (Screenplay Based on Material from Another Medium)', 'WRITING (Screenplay Written Directly for the Screen)', 'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)', 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)', 'SHORT FILM (Dramatic Live Action)', 'MAKEUP', 'SOUND EFFECTS EDITING', 'MUSIC (Original Song Score or Adaptation Score)', 'WRITING (Screenplay Based on Material Previously Produced or Published)', 'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING', 'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)', 'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN', 'INTERNATIONAL FEATURE FILM', 'DOCUMENTARY FEATURE FILM', 'DOCUMENTARY SHORT FILM', 'GORDON E. SAWYER AWARD', 'AWARD OF COMMENDATION']

In [9]:
oscar_awards_df.loc[:, 'subcategory'] = oscar_awards_df['category'].str.extract(r'\s*\((.*?)\)\s*')
oscar_awards_df.loc[:, 'category'] = oscar_awards_df['category'].str.replace(r'\s*\(.*?\)', '', regex=True)

oscar_awards_df[['category', 'subcategory']].head(200)

            category     subcategory
0              ACTOR            <NA>
1              ACTOR            <NA>
2            ACTRESS            <NA>
3            ACTRESS            <NA>
4            ACTRESS            <NA>
..               ...             ...
195  SOUND RECORDING            <NA>
196          WRITING      Adaptation
197          WRITING      Adaptation
198          WRITING      Adaptation
199          WRITING  Original Story

[200 rows x 2 columns]

In [10]:
print(list_of_categories)

['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY', 'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)', 'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE', 'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)', 'WRITING (Original Story)', 'WRITING (Title Writing)', 'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION', 'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)', 'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)', 'MUSIC (Music Score of a Dramatic Picture)', 'MUSIC (Scoring of a Musical Picture)', 'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY', 'MUSIC (Music Score of a Dramatic or Comedy Picture)', 'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)', 'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)', 'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)', 'SPECIAL FOREIGN LANGUAGE FILM AWARD', 'WRITING (Story and Screenplay)', 'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD', 'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)', 'WRITING (Screenplay--Original)', 'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN', 'SHORT SUBJECT (Live Action)', 'WRITING (Screenplay--based on material from another medium)', 'WRITING (Story and Screenplay--written directly for the screen)', 'SOUND', 'MUSIC (Music Score--substantially original)', 'MUSIC (Scoring of Music--adaptation or treatment)', 'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS', 'MUSIC (Original Music Score)', 'MUSIC (Original Score--for a motion picture [not a musical])', 'MUSIC (Score of a Musical Picture--original or adaptation)', 'MUSIC (Song--Original for the Picture)', 'WRITING (Story and Screenplay--based on material not previously published or produced)', 'MUSIC (Original Song Score)', 'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)', 'MUSIC (Original Dramatic Score)', 'MUSIC (Scoring: Adaptation and Original Song Score)', 'SHORT SUBJECT (Animated)', 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)', 'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)', 'SHORT FILM (Animated)', 'SHORT FILM (Live Action)', 'WRITING (Screenplay Adapted from Other Material)', 'MUSIC (Original Song)', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)', 'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE', 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)', 'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)', 'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD', 'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)', 'MUSIC (Adaptation Score)', 'WRITING (Screenplay Based on Material from Another Medium)', 'WRITING (Screenplay Written Directly for the Screen)', 'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)', 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)', 'SHORT FILM (Dramatic Live Action)', 'MAKEUP', 'SOUND EFFECTS EDITING', 'MUSIC (Original Song Score or Adaptation Score)', 'WRITING (Screenplay Based on Material Previously Produced or Published)', 'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING', 'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)', 'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN', 'INTERNATIONAL FEATURE FILM', 'DOCUMENTARY FEATURE FILM', 'DOCUMENTARY SHORT FILM', 'GORDON E. SAWYER AWARD', 'AWARD OF COMMENDATION']

In [11]:
print(list(oscar_awards_df['subcategory'].unique()))

[<NA>, 'Comedy Picture', 'Dramatic Picture', 'Adaptation', 'Original Story', 'Title Writing', 'Cartoon', 'Comedy', 'Novelty', 'Scoring', 'Song', 'Screenplay', 'Color', 'One-reel', 'Two-reel', 'Original Score', 'Black-and-White', 'Original Screenplay', 'Short Subject', 'Music Score of a Dramatic Picture', 'Scoring of a Musical Picture', 'Music Score of a Dramatic or Comedy Picture', 'Original Motion Picture Story', 'Feature', 'Motion Picture Story', 'Story and Screenplay', 'Screenplay--Adapted', 'Screenplay--Original', 'Live Action', 'Screenplay--based on material from another medium', 'Story and Screenplay--written directly for the screen', 'Music Score--substantially original', 'Scoring of Music--adaptation or treatment', 'Original Music Score', 'Original Score--for a motion picture [not a musical]', 'Score of a Musical Picture--original or adaptation', 'Song--Original for the Picture', 'Story and Screenplay--based on material not previously published or produced', 'Original Song Score', 'Story and Screenplay--based on factual material or material not previously published or produced', 'Original Dramatic Score', 'Scoring: Adaptation and Original Song Score', 'Animated', 'Visual Effects', 'Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation', 'Screenplay Adapted from Other Material', 'Original Song', 'Sound Effects', 'Original Song Score and Its Adaptation or Adaptation Score', 'Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced', 'Sound Effects Editing', 'Adaptation Score', 'Screenplay Based on Material from Another Medium', 'Screenplay Written Directly for the Screen', 'Original Song Score and Its Adaptation -or- Adaptation Score', 'Sound Editing', 'Dramatic Live Action', 'Original Song Score or Adaptation Score', 'Screenplay Based on Material Previously Produced or Published', 'Original Musical or Comedy Score', 'Adapted Screenplay']

## ARE THERE NA VALUES IN THE DATASET?

In [12]:
not_available_year_movie = oscar_awards_df['year_movie'].isna().sum()
not_available_year_ceremony = oscar_awards_df['year_ceremony'].isna().sum()
not_available_category = oscar_awards_df['category'].isna().sum()
not_available_ceremony = oscar_awards_df['ceremony'].isna().sum()
not_available_name = oscar_awards_df['name'].isna().sum()
not_available_movie = oscar_awards_df['movie'].isna().sum()
not_available_winner = oscar_awards_df['winner'].isna().sum()

In [13]:
print('not available year films: ', not_available_year_movie,
      '\nnot available year ceremony: ', not_available_year_ceremony,
      '\nnot available category: ', not_available_category,
      '\nnot available ceremony: ', not_available_ceremony,
      '\nnot available names: ', not_available_name,
      '\nnot available film: ', not_available_movie,
      '\nnot available winner: ', not_available_winner)

not available year films:  0
not available year ceremony:  0
not available category:  0
not available ceremony:  0
not available names:  5
not available film:  319
not available winner:  0

## ARE THERE ANY DUPLICATES?

In [14]:
oscar_awards_df.loc[oscar_awards_df['movie'].isna()]

,year_movie,year_ceremony,ceremony,category,name,movie,winner,subcategory
16,1927,1928,1,ENGINEERING EFFECTS,Ralph Hammeras,<NA>,False,<NA>
18,1927,1928,1,ENGINEERING EFFECTS,Nugent Slaughter,<NA>,False,<NA>
31,1927,1928,1,WRITING,Joseph Farnham,<NA>,True,Title Writing
32,1927,1928,1,WRITING,"George Marion, Jr.",<NA>,False,Title Writing
33,1927,1928,1,SPECIAL AWARD,Warner Bros.,<NA>,True,<NA>
...,...,...,...,...,...,...,...,...
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,<NA>,True,<NA>
10885,2023,2024,96,JEAN HERSHOLT HUMANITARIAN AWARD,<NA>,<NA>,True,<NA>
10886,2023,2024,96,HONORARY AWARD,"To Angela Bassett, who has inspired audiences ...",<NA>,True,<NA>
10887,2023,2024,96,HONORARY AWARD,"To Mel Brooks, for his comedic brilliance, pro...",<NA>,True,<NA>
10888,2023,2024,96,HONORARY AWARD,"To Carol Littleton, whose commitment to her cr...",<NA>,True,<NA>

In [15]:
num_duplicated_oscars = oscar_awards_df.duplicated().sum()
print('There are a total of {} duplicates '.format(num_duplicated_oscars))

There are a total of 7 duplicates

In [16]:
oscar_awards_df.loc[oscar_awards_df.duplicated(keep=False)]

,year_movie,year_ceremony,ceremony,category,name,movie,winner,subcategory
6219,1983,1984,56,MUSIC,Music by Michel Legrand; Lyric by Alan Bergman...,Yentl,False,Original Song
6220,1983,1984,56,MUSIC,Music by Michel Legrand; Lyric by Alan Bergman...,Yentl,False,Original Song
7066,1991,1992,64,MUSIC,Music by Alan Menken; Lyric by Howard Ashman,Beauty and the Beast,False,Original Song
7068,1991,1992,64,MUSIC,Music by Alan Menken; Lyric by Howard Ashman,Beauty and the Beast,False,Original Song
7394,1994,1995,67,MUSIC,Music by Elton John; Lyric by Tim Rice,The Lion King,False,Original Song
7395,1994,1995,67,MUSIC,Music by Elton John; Lyric by Tim Rice,The Lion King,False,Original Song
8862,2007,2008,80,MUSIC,Music by Alan Menken; Lyric by Stephen Schwartz,Enchanted,False,Original Song
8864,2007,2008,80,MUSIC,Music by Alan Menken; Lyric by Stephen Schwartz,Enchanted,False,Original Song
8865,2007,2008,80,MUSIC,Music by Alan Menken; Lyric by Stephen Schwartz,Enchanted,False,Original Song
9090,2009,2010,82,MUSIC,Music and Lyric by Randy Newman,The Princess and the Frog,False,Original Song
9091,2009,2010,82,MUSIC,Music and Lyric by Randy Newman,The Princess and the Frog,False,Original Song
10513,2020,2021,93,JEAN HERSHOLT HUMANITARIAN AWARD,<NA>,<NA>,True,<NA>
10514,2020,2021,93,JEAN HERSHOLT HUMANITARIAN AWARD,<NA>,<NA>,True,<NA>

In [17]:
# removing duplicates
oscar_awards_df = oscar_awards_df[~oscar_awards_df.duplicated()]
oscar_awards_df.loc[oscar_awards_df.duplicated()]

Empty DataFrame
Columns: [year_movie, year_ceremony, ceremony, category, name, movie, winner, subcategory]
Index: []

## ARE THERE ANY UNREASONABLE VALUES?
We noticed that some of the values in 'name' column have a leading space. We should remove that to avoid errors

In [18]:
oscar_awards_df.query('name == "Warner Bros."')

,year_movie,year_ceremony,ceremony,category,name,movie,winner,subcategory
102,1929,1930,3,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,<NA>
239,1932,1933,6,OUTSTANDING PRODUCTION,Warner Bros.,42nd Street,False,<NA>
240,1932,1933,6,OUTSTANDING PRODUCTION,Warner Bros.,I Am a Fugitive from a Chain Gang,False,<NA>
298,1934,1935,7,OUTSTANDING PRODUCTION,Warner Bros.,Here Comes the Navy,False,<NA>
311,1934,1935,7,SHORT SUBJECT,Warner Bros.,"What, No Men!",False,Comedy
383,1935,1936,8,OUTSTANDING PRODUCTION,Warner Bros.,A Midsummer Night's Dream,False,<NA>
479,1936,1937,9,OUTSTANDING PRODUCTION,Warner Bros.,Anthony Adverse,False,<NA>
492,1936,1937,9,SHORT SUBJECT,Warner Bros.,Give Me Liberty,True,Color
498,1936,1937,9,SHORT SUBJECT,Warner Bros.,Double or Nothing,False,Two-reel
603,1937,1938,10,OUTSTANDING PRODUCTION,Warner Bros.,The Life of Emile Zola,True,<NA>
611,1937,1938,10,SHORT SUBJECT,Warner Bros.,The Man without a Country,False,Color
735,1938,1939,11,OUTSTANDING PRODUCTION,Warner Bros.,Jezebel,False,<NA>
747,1938,1939,11,SHORT SUBJECT,Warner Bros.,Declaration of Independence,True,Two-reel
748,1938,1939,11,SHORT SUBJECT,Warner Bros.,Swingtime in the Movies,False,Two-reel
882,1939,1940,12,SHORT SUBJECT,Warner Bros.,Detouring America,False,Cartoon
889,1939,1940,12,SHORT SUBJECT,Warner Bros.,Sword Fishing,False,One-reel
892,1939,1940,12,SHORT SUBJECT,Warner Bros.,Sons of Liberty,True,Two-reel
1025,1940,1941,13,OUTSTANDING PRODUCTION,Warner Bros.,"All This, and Heaven Too",False,<NA>
1030,1940,1941,13,OUTSTANDING PRODUCTION,Warner Bros.,The Letter,False,<NA>
1038,1940,1941,13,SHORT SUBJECT,Warner Bros.,London Can Take It,False,One-reel
1043,1940,1941,13,SHORT SUBJECT,Warner Bros.,Service with the Colors,False,Two-reel
1044,1940,1941,13,SHORT SUBJECT,Warner Bros.,"Teddy, the Rough Rider",True,Two-reel
1204,1941,1942,14,OUTSTANDING MOTION PICTURE,Warner Bros.,The Maltese Falcon,False,<NA>
1205,1941,1942,14,OUTSTANDING MOTION PICTURE,Warner Bros.,One Foot in Heaven,False,<NA>
1206,1941,1942,14,OUTSTANDING MOTION PICTURE,Warner Bros.,Sergeant York,False,<NA>
1221,1941,1942,14,SHORT SUBJECT,Warner Bros.,Forty Boys and a Song,False,One-reel
1222,1941,1942,14,SHORT SUBJECT,Warner Bros.,Kings of the Turf,False,One-reel
1227,1941,1942,14,SHORT SUBJECT,Warner Bros.,The Gay Parisian,False,Two-reel
1393,1942,1943,15,OUTSTANDING MOTION PICTURE,Warner Bros.,Kings Row,False,<NA>
1401,1942,1943,15,OUTSTANDING MOTION PICTURE,Warner Bros.,Yankee Doodle Dandy,False,<NA>
1411,1942,1943,15,SHORT SUBJECT,Warner Bros.,United States Marine Band,False,One-reel
1412,1942,1943,15,SHORT SUBJECT,Warner Bros.,Beyond the Line of Duty,True,Two-reel
1533,1943,1944,16,DOCUMENTARY,Warner Bros.,The Voice That Thrilled the World,False,Short Subject
1578,1943,1944,16,OUTSTANDING MOTION PICTURE,Warner Bros.,Casablanca,True,<NA>
1587,1943,1944,16,OUTSTANDING MOTION PICTURE,Warner Bros.,Watch on the Rhine,False,<NA>
1762,1944,1945,17,SHORT SUBJECT,Warner Bros.,Swooner Crooner,False,Cartoon
1912,1945,1946,18,BEST MOTION PICTURE,Warner Bros.,Mildred Pierce,False,<NA>
2244,1948,1949,21,BEST MOTION PICTURE,Warner Bros.,Johnny Belinda,False,<NA>
2247,1948,1949,21,BEST MOTION PICTURE,Warner Bros.,The Treasure of the Sierra Madre,False,<NA>
3441,1958,1959,31,BEST MOTION PICTURE,Warner Bros.,Auntie Mame,False,<NA>
3685,1960,1961,33,SHORT SUBJECT,Warner Bros.,High Note,False,Cartoon
3686,1960,1961,33,SHORT SUBJECT,Warner Bros.,Mouse and Garden,False,Cartoon
3930,1962,1963,35,SHORT SUBJECT,Warner Bros.,Now Hear This,False,Cartoon

In [19]:
oscar_awards_df.query('name == " Warner Bros."')

,year_movie,year_ceremony,ceremony,category,name,movie,winner,subcategory
33,1927,1928,1,SPECIAL AWARD,Warner Bros.,<NA>,True,<NA>

In [20]:
oscar_awards_df.loc[:, 'name'] = oscar_awards_df['name'].str.lstrip()
oscar_awards_df.query('name == " Warner Bros."')

Empty DataFrame
Columns: [year_movie, year_ceremony, ceremony, category, name, movie, winner, subcategory]
Index: []

now we see how dates values are distributed in the dataset

In [21]:
oscar_awards_df['year_movie'].describe()

count    10882.000000
mean      1976.592538
std         27.358105
min       1927.000000
25%       1952.000000
50%       1976.000000
75%       2001.000000
max       2023.000000
Name: year_movie, dtype: float64

In [22]:
oscar_awards_df['year_ceremony'].describe()

count    10882.000000
mean      1977.592538
std         27.358105
min       1928.000000
25%       1953.000000
50%       1977.000000
75%       2002.000000
max       2024.000000
Name: year_ceremony, dtype: float64

values seem to be reasonable, considering they are exactly one year higher

now we could check if there are any films which seem to have a release year bigger then the year of the ceremony:

In [23]:
movies_bigger_than_ceremony_year = oscar_awards_df.query('year_movie > year_ceremony')
if movies_bigger_than_ceremony_year.empty:
    print('There are no values where year of movie release is bigger than ceremony year.')
else:
    print(movies_bigger_than_ceremony_year)

There are no values where year of movie release is bigger than ceremony year.

since the dataset holds oscars nominations until 2024, we should expect to have no ceremony values over 96 (since 2024 was the 96th edition)

In [24]:
bigger_ceremony = oscar_awards_df.query('ceremony > 96')
if bigger_ceremony.empty:
    print('There is no ceremony higher than the 96th edition.')
else:
    print(bigger_ceremony)

There is no ceremony higher than the 96th edition.

## SAVING THE CLEANED DATASET

In [25]:
oscar_awards_df.to_csv('data_cleaned/oscar_awards_cleaned.csv', index=False)

In [26]:
oscar_awards_df = None